<!DOCTYPE html>
<html>
  <head>
    <title>banao</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>BANAO nodejs Task-1 </h1>
    <p>Welcome to API</p>
    <p>API for User registration : http://localhost:3000/api/v1/register</p>
    <p>API for User login : http://localhost:3000/api/v1/login</p>
    <p>API for forgot username : http://localhost:3000/api/v1/forgotusername</p>
    <p>API for forgot password : http://localhost:3000/api/v1/forgotpassword</p>
    <p>API for reset password : link received in mail</p>
  </body>
</html>
