<!DOCTYPE html>
<html>
  <head>
    <title>banao</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>BANAO nodejs Task-1 </h1>
    <p>Welcome to API</p>
  </body>
</html>
