<!DOCTYPE html>
<html>
  <head>
    <title>banao</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>BANAO nodejs Task-1 </h1>
    <p>Welcome to API</p>
    <h1>Task 1</h1>
    <p><b>API for User registration </b> : http://localhost:3000/api/v1/register</p>
    <p><b>API for User login </b> : http://localhost:3000/api/v1/login</p>
    <p><b>API for forgot username </b> : http://localhost:3000/api/v1/forgotusername</p>
    <p><b>API for forgot password </b> : http://localhost:3000/api/v1/forgotpassword</p>
    <p><b>API for reset password </b>: link received in mail</p>
    <h1>task 2</h1>
    <h3>API's for tweet</h3>
    <p>get tweets <b>METHOD GET</b> : http://localhost:3000/api/v1/tweet</p>
    <p>post tweets <b>METHOD POST</b> : http://localhost:3000/api/v1/tweet</p>
    <p>delete tweets <b>METHOD DELETE</b> : http://localhost:3000/api/v1/tweet</p>
    <h3>API's related to tweet id</h3>
    <p>get tweets using id <b>METHOD GET</b> : http://localhost:3000/api/v1/tweet/:id</p>
    <p>update tweets using id <b>METHOD PUT</b> : http://localhost:3000/api/v1/tweet/:id</p>
    <p>delete tweets  using id <b>METHOD DELETE</b> : http://localhost:3000/api/v1/tweet/:id</p>

    <h3>Api for like/unlike </h3>
    <p>like <b>METHOD GET</b> : http://localhost:3000/api/v1/tweet/:id/like</p>
    <p>unlike <b>METHOD GET</b> : http://localhost:3000/api/v1/tweet/:id/unlike</p>

    <h3>API for Comments</h3>
    <p>get tweets comments <b>METHOD GET</b> : http://localhost:3000/api/v1/tweet/:id/comment</p>
    <p>post comment on tweets <b>METHOD POST</b> : http://localhost:3000/api/v1/tweet/:id/comment</p>
    <p>delete comments on tweets <b>METHOD DELETE</b> : http://localhost:3000/api/v1/tweet/:id/comment</p>

    <h3>API related to comment id</h3>
    <p>get tweets comments using id <b>METHOD GET</b> : http://localhost:3000/api/v1/tweet/:id/comment/:commentId</p>
    <p>update comment on tweets <b>METHOD PUT</b> : http://localhost:3000/api/v1/tweet/:id/comment/:commentId</p>
    <p>delete comments on tweets using id <b>METHOD DELETE</b> : http://localhost:3000/api/v1/tweet/:id/comment/:commentId</p>
  </body>
</html>
